.search__videos {
  display: flex;
  flex-direction: column;
  margin: 5rem 0rem 6.5rem 9rem;
  width: 75%;
}
.search__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100px;
  padding: 0.3rem 0.1rem;
  border-radius: 25px;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  &:hover {
    background-color: #424242;
  }
}
.search__options {
  display: none;
  &--show {
    display: block;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    transition: 1000ms;
  }
}
.filter__options {
  padding: 1.5rem 3rem;
}
