.sidebarclose {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  width: 4.5vw;
  height: 92vh;
  padding: 5px 4px;
  position: fixed;
  top: 8vh;
  &__items {
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    &:hover {
      background-color: #272727;
    }
  }
  &__text {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 100;
    font-family: Roboto, Arial, sans-serif;
  }
}
